*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a
{text-decoration: none;}

.top{
    width: 77vw;
    height: 77vh;
    position: relative;
}
.top .box{
    width: 300px;
    height: 300px;
    margin: 150px auto;
    text-align: center;
    box-shadow: 0px 1px 10px -3px #21212147;
    border-radius: 11px;
    position: relative;
}
.top .box h3{
    padding-top: 30px;
    padding-bottom: 7px;
    font-size: 28px;
    font-family: sans-serif;
}
.top .box p{
    margin-bottom: 6px;
    color: #777;
    font-size: 16px;
} 
.top .box .inpu input{
    padding: 9px;
    background-color: #d5d1d152;
    border: none;
    margin: 10px;
    outline: none;
}
.top .box a{
    display: grid;
    color: #777;
    margin: 4px 0 13px;
}
.top .box a:hover{
    color: blue;
}
.top .but{
    padding: 6px 25px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #f65555;
    font-size: 12px;
    font-weight: 900;
}
.box-two{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #f65555;
    left: 294px;
    top: 0;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 1px 10px -3px #21212147;
}
.box-two h3{
    color: white;
    font-family: sans-serif;
    margin-top: 57px;
    font-size: 26px;
}
.top .box-two p{
    font-size: 17px;
    color: #efefefc2;
    margin-bottom: 19px;
    margin-top: 10px;
    font-family: serif;
}
.box-two .but-two{
    padding: 6px 25px;
    border-radius: 30px;
    color: white;
    background-color: #f65555;
    font-size: 12px;
    font-weight: 900;
    border: 1px solid white;
}
